.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.6em;
}

@media only screen and (min-width: 426px) {
  .top {
    font-size: 2.2em;
    right: 5%;
    bottom: 7%;
  }
}

@media only screen and (min-width: 769px) {
  .top {
    font-size: 3em;
    right: 5%;
    bottom: 9%;
  }
}
