.sidemenu {
	width: 70%;
	height: 100vh;
	position: fixed;
	left: 0;
	z-index: 1;
	background-color: #e07a5f;
	font-size: 1.3em;
	line-height: 1.9em;
	padding: 2em 0;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	transition: left 0.6s ease;
}

.inner {
	position: relative;
}

.inner span {
	font-weight: 600;
	font-size: 42px;
}

.menu-items {
	text-align: left;
	overflow-y: scroll;
}

.menu-items a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

@media (hover: hover) {
	.menu-items a:hover {
		text-decoration: underline;
	}
}

.menu-items a:visited {
	text-decoration: none;
	color: black;
}

.cross {
	width: 80px;
	height: 80px;
	position: fixed;
	font-size: 30px;
	cursor: pointer;
	z-index: 2;
	transition: left 0.6s ease;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
}

.hide {
	left: -70%;
}

@media only screen and (max-width: 425px) {
	.inner {
		position: relative;
		height: 60vh;
		top: 20px;
	}

	.inner span {
		font-weight: 500;
		font-size: 36px;
	}

	.menu-items {
		height: 40vh;
		padding-bottom: 40vh;
	}

	.cross {
		bottom: 1%;
		left: 0%;
		font-size: 25px;
		width: 42px;
		height: 55px;
	}

	.hide {
		left: -70%;
	}
}

@media only screen and (min-width: 426px) {
	.sidemenu {
		font-size: 2rem;
		line-height: 1.9em;
		padding: 2em 0;
	}

	.inner {
		position: relative;
		height: 70vh;
		top: 10px;
	}

	.menu-items {
		height: 30vh;
		padding-bottom: 40vh;
	}

	.cross {
		font-size: 42px;
		bottom: 5%;
		left: 3%;
	}

	.hide {
		left: -70%;
	}
}

@media only screen and (min-width: 769px) {
	.sidemenu {
		font-size: 2.3rem;
		line-height: 1.9em;
		padding: 1em 0;
	}

	.inner {
		position: relative;
		height: 0vh;
		top: 10px;
		bottom: 60px;
	}

	.cross {
		font-size: 48px;
		bottom: 6%;
		left: 4%;
	}
	.hide {
		left: -70%;
	}
}
