.sidemenu {
	width: 70%;
	height: 100vh;
	position: fixed;
	left: 0;
	z-index: 1;
	background-color: #e07a5f;
	font-size: 1.3em;
	line-height: 1.9em;
	padding: 3.5em 0;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	transition: left 0.8s ease;
}

.inner {
	position: relative;
	height: 90vh;
}

.menu-items {
	text-align: left;
}

.menu-items a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.menu-items a:hover {
	text-decoration: underline;
}

.menu-items a:visited {
	text-decoration: none;
	color: black;
}

.cross {
	width: 80px;
	height: 80px;
	position: fixed;
	bottom: 2%;
	left: 2%;
	font-size: 30px;
	cursor: pointer;
	z-index: 2;
	transition: left 0.8s ease;
}

.hide {
	left: -70%;
}

@media only screen and (min-width: 426px) {
	.sidemenu {
		font-size: 2rem;
		line-height: 1.9em;
		padding: 3.5em 0;
	}
	.cross {
		font-size: 42px;
		bottom: 5%;
		left: 3%;
	}
	.hide {
		left: -70%;
	}
}

@media only screen and (min-width: 769px) {
	.sidemenu {
		font-size: 2.3rem;
		line-height: 1.9em;
		padding: 2.5em 0;
	}
	.cross {
		font-size: 48px;
		bottom: 6%;
		left: 4%;
	}
	.hide {
		left: -70%;
	}
}
